{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Budget{% endblock title %}
{% block extra_css %}
  <!-- DataTables -->
  <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>
  <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>

  <!-- Responsive datatable examples -->
  <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>

  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"/>
{% endblock %}
{% block contents %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title mb-4">
            Budget {{ current_date | date:"F, Y" }} | {{ a_year_ago.date | date:"F, Y" }}
            {% comment %}<button type="button" class="btn btn-primary waves-effect waves-light float-end" data-bs-toggle="modal"
                    data-bs-target="#addBudgetModal">Add
            </button>{% endcomment %}
            <span class="waves-effect waves-light float-end">
              <a href="{% url 'club:list-budget' %}">
                <i class="mdi mdi-delete font-size-18"></i>
                <i class="mdi mdi-pencil font-size-18"></i>
                <i class="bx bx-plus-medical font-size-18"></i>
              </a>
            </span>
          </h4>
          <div id="addBudgetModal" class="modal fade" tabindex="-1" aria-labelledby="budgetAddModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="budgetAddModal">Default Modal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="add-budget-form" class="budget-form" method="post" action="{% url 'club:add-budget' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                  <button form="add-budget-form" class="btn btn-primary waves-effect waves-light">Save</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <!--<p class="card-title-desc">DataTables has most features enabled by
            default, so all you need to do to use it with your own tables is to call
            the construction function: <code>$().DataTable();</code>.
          </p>-->


          <div class="table-responsive">
            <table id="" class="table table-bordered dt-responsive  nowrap w-100">
              <thead class="table-dark">
              <tr>
                <th></th>
                {% for th in budget_df %}
                  <th>{{ th.date | date:"F, Y" }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for index, row in budget_df.iterrows %}
                <tr class="{% if index == 'working days' or index == 'Total' %}table-info{% endif %}">
                  <th>{{ index | capfirst }}</th>
                  {% for td in row %}
                    {% if index == 'working days' %}
                      <td>{{ td | default_if_none:0 | floatformat }}</td>
                    {% else %}
                      <td>{{ td | default_if_none:"0" }}€</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->
{% endblock %}


{% block extra_javascript %}
  <!-- Required datatable js -->
  <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <!-- Buttons examples -->
  <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

  <!-- Responsive examples -->
  <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

  <!-- Datatable init js -->
  <script src="{% static 'js/pages/datatables.init.js' %}"></script>
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  <script>

    var formAjaxSubmit = function (form, modal) {
      $(form).submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function (xhr, ajaxOptions, thrownError) {
            if ($(xhr).find('.has-error').length > 0) {
              $(modal).find('.modal-body').html(xhr);
              formAjaxSubmit(form, modal);
            } else {
              $(modal).modal('toggle');
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            // handle response errors here
          }
        });
      });
    }

    {% for budget in object_list %}
      $('#edit-{{ budget.id }}').click(function () {
        $('#edit-budget-{{ budget.id }}-body').load('{% url 'club:update-budget' budget.id %}', function () {
          $('#edit-budget-{{ budget.id }}').modal('show');
          //formAjaxSubmit('#edit-budget-{{ budget.id }}-body', '#edit-budget-{{ budget.id }}');
          $('.picker').datepicker({
            zIndex: 2048,
            startView: 1,
            autoHide: true,
            format: 'yyyy/mm'
          });
          document.getElementById('edit-budget-form-{{ budget.id }}').addEventListener('submit', evt => {
            evt.preventDefault()
            let formObj = evt.target
            let month = [...formObj.getElementsByClassName('picker')][0]

            month.value = new Date(month.value).toLocaleDateString()
            console.log(month, month.value)
            formObj.submit()
          })
        });
      })
    {% endfor %}
    /*
      document.querySelectorAll('input[type="month"]').forEach(n => {
        n.addEventListener('change', evt => {
          //evt.target.value = new Date(evt.target.value).toLocaleDateString()
          evt.target.datetimepicker()
        })
      })
    */

    $('.picker').datepicker({
      zIndex: 2048,
      startView: 1,
      autoHide: true,
      format: 'yyyy-mm'
    });

    document.querySelectorAll('.budget-form').forEach(formObj => {
      formObj.addEventListener('submit', evt => {
        evt.preventDefault()

        let month = [...formObj.getElementsByClassName('picker')][0]

        month.value = new Date(month.value).toLocaleDateString()

        formObj.submit()
      })
      //const formData = new FormData(formObj)
    })

  </script>
{% endblock %}
