{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Offer{% endblock title %}
{% block contents %}
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Add Offer</h4>

          <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}

            <table id="id_orders_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in offered_item_form.forms %}
                    <tr id="{{ form.prefix }}-row">
                        <td>
                            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ form.product }}
                        </td>
                        <td>{{ form.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          {{ offered_item_form.management_form }}
            {% comment %}
                        <div class="mb-3">
                            <label for="formrow-firstname-input" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="formrow-firstname-input"
                                   placeholder="Enter Your First Name">
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="formrow-email-input"
                                           placeholder="Enter Your Email ID">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-password-input" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="formrow-password-input"
                                           placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="formrow-inputCity" class="form-label">City</label>
                                    <input type="text" class="form-control" id="formrow-inputCity"
                                           placeholder="Enter Your Living City">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="formrow-inputState" class="form-label">State</label>
                                    <select id="formrow-inputState" class="form-select">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="formrow-inputZip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="formrow-inputZip"
                                           placeholder="Enter Your Zip Code">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>{% endcomment %}
            <button>Submit</button>
          </form>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
{% endblock contents %}
{% block extra_javascript %}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    $(function () {
      $("#id_orders_table tbody tr").formset({
        prefix: "{{ offered_item_form.prefix }}",
      })

    })
  </script>
{% endblock %}
