{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Offers{% endblock title %}
{% block extra_css %}
  <!-- DataTables -->
  <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>
  <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>

  <!-- Responsive datatable examples -->
  <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>


{% endblock %}
{% block contents %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title mb-4">
            Offers
            <button type="button" class="btn btn-primary waves-effect waves-light float-end" data-bs-toggle="modal"
                    data-bs-target="#addOfferModal">Add
            </button>
          </h4>
          <div id="addOfferModal" class="modal fade" tabindex="-1" aria-labelledby="offerAddModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="offerAddModal">Add {{ request.GET.client_type }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="add-offer-form" method="post" action="{% url 'club:add-offer' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <table id="id_orders_table" border="0" cellpadding="0" cellspacing="5">
                      <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Number of months</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for form in offered_item_form.forms %}
                        <tr id="{{ form.prefix }}-row">
                          <td>
                            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ form.product }}
                          </td>
                          <td>{{ form.price }}</td>
                          <td>{{ form.number_of_months }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    {{ offered_item_form.management_form }}
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                  <button form="add-offer-form" class="btn btn-primary waves-effect waves-light">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

          <!--<p class="card-title-desc">DataTables has most features enabled by
            default, so all you need to do to use it with your own tables is to call
            the construction function: <code>$().DataTable();</code>.
          </p>-->

          <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Agent</th>
              <th>Offered Product(s)</th>
              <th>Client type</th>
              <th>Meeting type</th>
              <th>Category</th>
              <th>Accepted</th>
              <th>Referrals</th>
              <th>Date</th>
              <th></th>

            </tr>
            </thead>


            <tbody id="offer-table-body" hx-get="{% url 'club:partial-list-offer' %}?client_type={{ request.GET.client_type }}" hx-trigger="load, dataChanged from:body">

            </tbody>
          </table>
          <div id="modal" class="modal fade" tabindex="-1" aria-labelledby="offerAddModal"
               aria-hidden="true">
            <div id="dialog" hx-target="this" class="modal-dialog modal-dialog-scrollable">

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          {% for offer in object_list %}
            <div id="edit-offer-{{ offer.id }}" class="modal fade" tabindex="-1" aria-labelledby="offerAddModal"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="offerAddModal">Default Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="edit-offer-{{ offer.id }}-body" class="modal-body">
                    ...loading

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                    <button form="edit-offer-form-{{ offer.id }}" class="btn btn-primary waves-effect waves-light">
                      Save changes
                    </button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <div id="delete-offer-{{ offer.id }}" class="modal fade" tabindex="-1" aria-labelledby="offerAddModal"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="offerAddModal">Delete offer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this offer?</p>
                    <form id="delete-offer-{{ offer.id }}-form" method="post"
                          action="{% url 'club:delete-offer' offer.id %}">
                      {% csrf_token %}

                    </form>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                    <button form="delete-offer-{{ offer.id }}-form" class="btn btn-danger waves-effect waves-light">
                      Delete
                    </button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          {% endfor %}


        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->

{% endblock %}


{% block extra_javascript %}
  {#  <script src="https://unpkg.com/htmx.org@1.7.0"></script>#}
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <!-- Required datatable js -->
  <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <!-- Buttons examples -->
  <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

  <!-- Responsive examples -->
  <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

  <!-- Datatable init js -->
  {#  <script src="{% static 'js/pages/datatables.init.js' %}"></script>#}
  <script>

  function removeForm(id) {
    document.getElementById(id).remove()
  }

    var formAjaxSubmit = function (form, modal) {
      $(form).submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function (xhr, ajaxOptions, thrownError) {
            if ($(xhr).find('.has-error').length > 0) {
              $(modal).find('.modal-body').html(xhr);
              formAjaxSubmit(form, modal);
            } else {
              $(modal).modal('toggle');
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            // handle response errors here
          }
        });
      });
    }

    {% for offer in object_list %}
      $('#edit-{{ offer.id }}').click(function () {
        $('#edit-offer-{{ offer.id }}-body').load('{% url 'club:update-offer' offer.id %}', function () {
          $('#edit-offer-{{ offer.id }}').modal('show');
          //formAjaxSubmit('#edit-offer-{{ offer.id }}-body', '#edit-offer-{{ offer.id }}');
        });
      })
    {% endfor %}
  </script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    $(function () {
      $("#id_orders_table tbody tr").formset({
        prefix: "{{ offered_item_form.prefix }}",
      })

    })
  </script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
  <script src="{% static 'js/htmx-script.js' %}"></script>
{% endblock %}
