{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Report{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"/>
{% endblock %}

{% block contents %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">


            <form class="col-xl-6 mb-5" action="." method="post">

              <h4>Sales</h4>
              <label>Date Range</label>

              <div class="input-daterange input-group" id="datepicker6" data-date-format="dd M, yyyy"
                   data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                <input type="text" readonly class="form-control picker-start" id="sales-start-date" name="start" data-pt="sales" placeholder="Start Date: 'yyyy-mm-dd'"/>
                <input type="text" readonly class="form-control picker-end" id="sales-end-date" name="end" data-pt="sales" placeholder="End Date: 'yyyy-mm-dd'"/>
              </div>

              <div class="mb-3">
                <label for="file_type" class="form-label">File Format</label>
                <select id="file_type" name="file_type" class="form-select">
                  <option value="excel">Excel</option>
                  <option value="csv">CSV</option>
                </select>
              </div>
              {% csrf_token %}

              <h5 class="mt-4">Global or Client Type</h5>
              {% comment %}
              <div class="mb-3">
                <div class="form-check">
                  <input type="radio" checked id="global" class="form-check-input" name="report_type" value="global">
                  <label for="global" class="form-check-label">Global</label>
                </div>
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input type="radio" id="new_client" class="form-check-input" name="report_type" value="new_client">
                  <label for="new_client" class="form-check-label">New Client</label>
                </div>

              </div>
            {% endcomment %}
              <div class="mb-3">
                <label for="report_type" class="form-label">Client Type</label>
                <select id="report_type" name="report_type" class="form-select">
                  <option value="global">Global</option>
                  {% for client_type in ClubOffer.CLIENT_TYPES %}
                    <option value="{{ client_type.0 }}">{{ client_type.1 }}</option>
                  {% endfor %}
                </select>
              </div>

              <h5 class="mt-4">Select User(s)</h5>

              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="all">
                  <label class="form-check-label" for="all">Select all</label>
                </div>
              </div>

              {% if user.user_type == user.MANAGER %}

                {% for agent in club_users %}
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="users-checkbox form-check-input" id="usr-{{ agent.id }}" type="checkbox"
                             name="username"
                             value="{{ agent.username }}">
                      <label class="form-check-label" for="usr-{{ agent.id }}">{{ agent.username }}</label>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="mb-3">
                  <div class="form-check">
                    <input class="users-checkbox form-check-input" id="usr-{{ user.id }}" type="checkbox"
                           name="username"
                           value="{{ user.username }}">
                    <label class="form-check-label" for="usr-{{ user.id }}">{{ user.username }}</label>
                  </div>
                </div>
              {% endif %}
              <div>
                <button class="btn btn-primary w-md">Get report</button>
              </div>

            </form>
            <form class="col-xl-6" action="." method="post">
              {% csrf_token %}
              <h4>Actions & Calls</h4>

              <label>Date Range</label>

              <div class="input-daterange input-group" id="datepicker7" data-date-format="dd M, yyyy"
                   data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker7'>
                <input type="text" readonly class="form-control picker-start" id="action-start-date" name="start" data-pt="action" placeholder="Start Date: 'yyyy-mm-dd'"/>
                <input type="text" readonly class="form-control picker-end" id="action-end-date" name="end" data-pt="action" placeholder="End Date: 'yyyy-mm-dd'"/>
              </div>

              <div class="mb-3">
                <label for="file_type2" class="form-label">File Format</label>
                <select id="file_type2" name="file_type" class="form-select">
                  <option value="excel">Excel</option>
                  <option value="csv">CSV</option>
                </select>
              </div>
              <h5 class="mt-4">Select User</h5>



              {% if user.user_type == user.MANAGER %}
                <div class="mb-3">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="act_" name="user_actions" value="global">
                    <label for="act_" class="form-check-label">Global</label>
                  </div>
                </div>

                {% for agent in club_users %}
                  <div class="mb-3">
                    <div class="form-check">
                      <input type="radio" id="act_{{ agent.id }}" class="form-check-input" name="user_actions"
                             value="{{ agent.uuid }}">
                      <label class="form-check-label"
                             for="act_{{ agent.id }}">{{ agent.get_full_name_or_username }}</label><br>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="mb-3">
                  <div class="form-check">
                    <input type="radio" id="act_{{ user.id }}" class="form-check-input" name="user_actions"
                           value="{{ user.uuid }}">
                    <label class="form-check-label" for="act_{{ user.id }}">{{ user.get_full_name_or_username }}</label><br>
                  </div>
                </div>
              {% endif %}
              <div>
                <button class="btn btn-primary w-md">Get report</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_javascript %}
  <script>
    let globalBox = document.getElementById('all')
    globalBox.addEventListener('change', e => {
      if (e.target.checked) {
        document.getElementsByClassName('users-checkbox').forEach(item => {
          item.checked = true
        })
      } else {
        document.getElementsByClassName('users-checkbox').forEach(item => {
          item.checked = false
        })
      }
    })
  </script>
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  <script>
    //let startDateDom = document.getElementById('start-date')
    //let endDateDom = document.getElementById('end-date')
    $.fn.datepicker.setDefaults({
      format: 'yyyy-mm-dd'
    })


    $(function () {
      var $startDate = $('.picker-start');
      var $endDate = $('.picker-end');

      $startDate.each(function (item){
          $(this).datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd'
          });
      })
      $endDate.each(function (item){
        $(this).datepicker({
          autoHide: true,
          startDate: $(this).datepicker('getDate'),
          format: 'yyyy-mm-dd'
        });
      })

      $startDate.each(function (item){
        let startPt = this

        $(this).on('change', function () {
          $endDate.each(function (i){
            if (this.dataset.pt === startPt.dataset.pt) {
              $(this).datepicker('setStartDate', $(startPt).datepicker('getDate'))
            }
          });
        });
      })
      /*
      $startDate.on('change', function () {
        $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
      });*/
    });

  </script>
{% endblock %}
