{% extends 'partials/base.html' %}
{% load static %}

{% block contents %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">



          <form action="." method="post">
          <select name="file_type">
            <option value="excel">Excel</option>
            <option value="csv">CSV</option>
          </select>
          {% csrf_token %}
          <p><input type="checkbox" id="global"> Global</p>
            {% for agent in club_users %}
              <p><input class="users-checkbox" type="checkbox" name="username" value="{{ agent.username }}"> {{ agent.username }} </p>
            {% endfor %}
          <button>Download</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_javascript %}
  <script>
  let globalBox = document.getElementById('global')
  globalBox.addEventListener('change', e => {
    if (e.target.checked) {
      document.getElementsByClassName('users-checkbox').forEach(item => {
        item.checked = true
      })
    } else {
      document.getElementsByClassName('users-checkbox').forEach(item => {
        item.checked = false
      })
    }
  })
  </script>
{% endblock %}
