{% for action in object_list %}
  <tr>
    {% if not request.GET.dashboard %}
      <td>{{ action.agent.get_full_name_or_username }}</td>
    {% endif %}
    <td>{{ action.amount }}</td>
    <td>{{ action.time_spent }}</td>
    <td>{{ action.get_category_display }}</td>
    <td>{{ action.get_action_display }}</td>
    <td>{{ action.date }}</td>
    <td>
      <button class="btn btn-outline-warning waves-effect waves-light" id="edit-{{ action.id }}"
      ><i class="bx bx-edit-alt"></i>
      </button>
      <button type="button" class="btn btn-outline-danger waves-effect waves-light" data-bs-toggle="modal"
              data-bs-target="#delete-action-{{ action.id }}"><i class="bx bx-trash-alt"></i>
      </button>
    </td>

  </tr>
{% endfor %}
