{% extends 'partials/base.html' %}
{% load static humanize user_extras %}

{% block extra_css %}
  <!-- DataTables -->
  <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>
  <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>

  <!-- Responsive datatable examples -->
  <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css"/>
{% endblock %}

{% block contents %}
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
          <tr>
            <th>Current Day</th>
            <th>Current Month</th>
            <th>Efficiency</th>
            <th>Finalized sales on referrals</th>
            <th>Ref/sales Ratio</th>
            <th>Calls per hour</th>
            <th>% Total Finalized New Clients</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ user.get_current_day_sales }} €</td>
            <td>{{ sales_aggr.this_month_sales }}</td>
            <td>{{ user.get_efficiency }}</td>
            <td>{{ user.finalized_sales_on_ref }}</td>
            <td>{{ user.ref_sales_ratio | floatformat:4 }}</td>
            <td>{{ user.get_call_per_hour }}</td>
            <td>
              {% call_method user 'get_percentage_total_finalized' as percent_finalized %}{{ percent_finalized | floatformat:2 }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-xl-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Offers</p>
                  <h4 class="mb-0">{{ sales.count | default_if_none:0 | intcomma }}</h4>
                </div>

                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                                            <span class="avatar-title">
                                                                <i class="bx bx-copy-alt font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Sales</p>
                  <h4 class="mb-0">{{ sales_aggr.total_sales | default_if_none:0 | floatformat:2 | intcomma }}</h4>
                </div>

                <div class="flex-shrink-0 align-self-center ">
                  <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                            <span class="avatar-title rounded-circle bg-primary">
                                                                <i class="bx bx-archive-in font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Average Sales</p>
                  <h4 class="mb-0">{{ sales_aggr.avg_sales | default_if_none:0 | floatformat:2 | intcomma }}</h4>
                </div>

                <div class="flex-shrink-0 align-self-center">
                  <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                            <span class="avatar-title rounded-circle bg-primary">
                                                                <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex flex-wrap">
            <h4 class="card-title mb-4">Sales Bar</h4>
            {% comment %}
            <div class="ms-auto">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="#">Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Year</a>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>

          <div id="stacked-column-chart" class="apex-charts" dir="ltr"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#action" role="tab">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Action</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#offer" role="tab">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Offer</span>
              </a>
            </li>

          </ul>
          <div class="tab-content p-3 text-muted">
            <div class="d-sm-flex flex-wrap">
              <h4 class="card-title mb-4">{{ current_date }}</h4>
            </div>
            <div class="tab-pane active" id="action" role="tabpanel">
              {% comment %}
              <div class="d-flex flex-wrap gap-2 mb-4">
                {% for day in days_of_the_week %}
                  <button
                    type="button"
                    hx-get="{% url 'club:partial-list-action' %}?dashboard=agent&m={{ day.month }}&d={{ day.day }}&y={{ day.year }}"
                    class="btn btn-outline-primary waves-effect waves-light"
                    hx-target="#action-table-body"
                  >
                    {{ day | date:"l, d" }}
                  </button>

                {% endfor %}

              </div>
            {% endcomment %}
              <div class="btn-group mb-4" role="group" aria-label="Basic radio toggle button group">
                {% for day in days_of_the_week %}
                  <input type="radio" class="btn-check" name="action_btnradio" id="action-dateradio{{ forloop.counter }}"
                         hx-get="{% url 'club:partial-list-action' %}?dashboard=agent&m={{ day.month }}&d={{ day.day }}&y={{ day.year }}"
                         hx-target="#action-table-body"
                         autocomplete="off"
                         {% if day == current_date %}
                         checked
                         {% endif %}
                  >
                  <label class="btn btn-outline-secondary" for="action-dateradio{{ forloop.counter }}">{{ day | date:"l, d" }}</label>
                {% endfor %}

              </div>

              <div class="table-responsive-md">
                <table id="" class="table table-bordered dt-responsive  nowrap w-100 datatable">
                  <thead>
                  <tr>
                    <td>{{ action.amount }}</td>
                    <th>Time spent</th>
                    <th>category</th>
                    <th>action</th>
                    <th>Date</th>
                    <th></th>

                  </tr>
                  </thead>


                  <tbody id="action-table-body"
                         hx-get="{% url 'club:partial-list-action' %}?dashboard=agent&m={{ current_date.month }}&d={{ current_date.day }}&y={{ current_date.year }}"
                         hx-trigger="load, dataChanged from:body">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="offer" role="tabpanel">
              <div class="btn-group mb-4" role="group" aria-label="Basic radio toggle button group">
                {% for day in days_of_the_week %}
                  <input type="radio" class="btn-check" name="offer_btnradio" id="offer-dateradio{{ forloop.counter }}"
                         hx-get="{% url 'club:partial-list-offer' %}?dashboard=agent&m={{ day.month }}&d={{ day.day }}&y={{ day.year }}"
                         hx-target="#action-table-body"
                         autocomplete="off"
                         {% if day == current_date %}
                         checked
                         {% endif %}
                  >
                  <label class="btn btn-outline-secondary" for="offer-dateradio{{ forloop.counter }}">{{ day | date:"l, d" }}</label>

                {% endfor %}

              </div>
              <div class="table-responsive">
                <table id="" class="table table-bordered dt-responsive  nowrap w-100 datatable">
                  <thead>
                  <tr>
                    <th>S/N</th>

                    <th>Offered Product(s)</th>
                    <th>Client type</th>
                    <th>Meeting type</th>
                    <th>Category</th>
                    <th>Accepted</th>
                    <th>Referrals</th>
                    <th>Date</th>
                    <th></th>

                  </tr>
                  </thead>


                  <tbody id="offer-table-body"
                         hx-get="{% url 'club:partial-list-offer' %}?dashboard=agent&m={{ current_date.month }}&d={{ current_date.day }}&y={{ current_date.year }}"
                         hx-trigger="load, dataChanged from:body">

                  </tbody>
                </table>
              </div>
            </div>

          </div>


        </div>

      </div>

    </div>
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>{{ user.club.name }} Dashboard</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">{{ user.get_full_name_or_username }}</h5>
              {#              <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>#}
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">{{ user.club.name }}</h5>
                    <p class="text-muted mb-0">Club</p>
                  </div>
                  <div class="col-6">

                  </div>
                </div>
                <div class="mt-4">
                  <a href="javascript: void(0);" hx-target="#dialog" hx-get="{% url 'users:detail' %}"
                     class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i
                    class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Budget Completion Gauge</h4>
          <div id="gauge-chart" class="e-charts"></div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Product Sales Chart</h4>

          <div id="donut_chart" class="apex-charts"></div>
        </div>
      </div>

    </div>
  </div>
  <div id="modal" class="modal fade" tabindex="-1" aria-labelledby="offerAddModal"
       aria-hidden="true">
    <div id="dialog" hx-target="this" class="modal-dialog modal-dialog-scrollable">

    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>

  <!-- Buttons examples -->
  <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
  <!-- apexcharts -->
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <!-- echarts js -->
  <script src="{% static 'libs/echarts/dist/echarts.min.js' %}"></script>
  <!-- echarts init -->
  <script>
    let dom = document.getElementById("gauge-chart"), myChart = echarts.init(dom), app = {};
    let option = {
      tooltip: {formatter: "{a} <br/>{b} : {c}%"},
      toolbox: {feature: {restore: {title: "Refresh"}, saveAsImage: {title: "Download Image"}}},
      series: [{
        name: "Business indicator",
        type: "gauge",
        detail: {formatter: "{value}%"},
        axisLine: {lineStyle: {color: [[.2, "#34c38f"], [.8, "#556ee6"], [1, "#f46a6a"]], width: 20}},
        data: [{value: {{sales_aggr.percent_budget_reached}}, name: "Completion rate"}]
      }]
    }
    /*
    setInterval(function () {
        option.series[0].data[0].value = +(100 * Math.random()).toFixed(2), myChart.setOption(option, !0)
    }, 2e3), option && "object" == typeof option && myChart.setOption(option, !0);
    */
    myChart.setOption(option)


    let products = {{ sales_aggr.product_aggr_json | safe }};

    let options = {
      chart: {height: 320, type: "donut"},
      series: products.map(item => parseFloat(item.total)),
      labels: products.map(item => item.product),
      colors: ["#34c38f", "#556ee6", "#f46a6a", "#50a5f1", "#f1b44c"],
      legend: {
        show: !0,
        position: "bottom",
        horizontalAlign: "center",
        verticalAlign: "middle",
        floating: !1,
        fontSize: "14px",
        offsetX: 0
      },
      responsive: [{breakpoint: 600, options: {chart: {height: 240}, legend: {show: !1}}}]
    };
    (chart = new ApexCharts(document.querySelector("#donut_chart"), options)).render();

    function groupBy(objectArray, property) {
      return objectArray.reduce(function (acc, obj) {
        let key = obj[property]
        if (!acc[key]) {
          acc[key] = []
        }
        acc[key].push(obj)
        return acc
      }, {})
    }

    let productsByMonth = {{ sales_aggr.product_by_month | safe }};
    let series = productsByMonth.map(item => {
      let serie = {
        name: item.product,
        data: item.sales.map(i => parseFloat(i.total_price))
      }
      return serie
    })
    let months = productsByMonth.map(item => item.sales.map(i => i.month));
    let uniqMonths = [...new Set(months.flat())]

    let stackOptions = {
      series: series,
      chart: {
        type: 'bar',
        height: 350,
        stacked: true,
        toolbar: {
          show: true
        },
        zoom: {
          enabled: true
        }
      },
      responsive: [{
        breakpoint: 480,
        options: {
          legend: {
            position: 'bottom',
            offsetX: -10,
            offsetY: 0
          }
        }
      }],
      plotOptions: {
        bar: {
          horizontal: false,
          borderRadius: 10
        },
      },
      xaxis: {
        type: 'datetime',
        categories: uniqMonths,
      },
      legend: {
        position: 'right',
        offsetY: 40
      },
      fill: {
        opacity: 1
      }
    };

    var chart = new ApexCharts(document.querySelector("#stacked-column-chart"), stackOptions);
    chart.render();
  </script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
  <script src="{% static 'js/htmx-script.js' %}"></script>
{% endblock %}
