{% extends 'partials/base.html' %}
{% load static humanize user_extras %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"/>
{% endblock %}

{% block contents %}
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
          <tr>
            <th>Current Day</th>
            <th>Current Month</th>
            {#            <th>Efficiency</th>#}
            <th>Finalized sales on referrals</th>
            {#            <th>Ref/sales Ratio</th>#}
            {#            <th>Calls per hour</th>#}
            <th>% Total Finalized New Clients</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ user.club.get_current_day_sales }}</td>
            <td>{{ user.club.get_current_month_sales }}</td>
            {#            <td>{{ user.get_efficiency }}</td>#}
            <td>{{ user.club.finalized_sales_on_ref }}</td>
            {#            <td>{{ user.ref_sales_ratio | floatformat:4 }}</td>#}
            {#            <td>{{ user.get_call_per_hour }}</td>#}
            <td>
              {% call_method user.club 'get_percentage_total_finalized' as percent_finalized %}{{ percent_finalized | floatformat:2 }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>fitGenius Dashboard</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">{{ user.get_full_name }}</h5>
              {#              <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>#}
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">125</h5>
                    <p class="text-muted mb-0">Projects</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">€1245</h5>
                    <p class="text-muted mb-0">Revenue</p>
                  </div>
                </div>
                <div class="mt-4">
                  <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i
                    class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Monthly Earning</h4>
          <div class="row">
            <div class="col-sm-6">
              <p class="text-muted">This month</p>
              <h3>€34,252</h3>
              <p class="text-muted"><span class="text-success me-2"> 12% <i class="mdi mdi-arrow-up"></i> </span> From
                previous period</p>

              <div class="mt-4">
                <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View More <i
                  class="mdi mdi-arrow-right ms-1"></i></a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mt-4 mt-sm-0">
                <div id="radialBar-chart" class="apex-charts"></div>
              </div>
            </div>
          </div>
          <p class="text-muted mb-0">We craft digital, graphic and dimensional thinking.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Orders</p>
                  <h4 class="mb-0">1,235</h4>
                </div>

                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                                            <span class="avatar-title">
                                                                <i class="bx bx-copy-alt font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Revenue</p>
                  <h4 class="mb-0">€35, 723</h4>
                </div>

                <div class="flex-shrink-0 align-self-center ">
                  <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                            <span class="avatar-title rounded-circle bg-primary">
                                                                <i class="bx bx-archive-in font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <p class="text-muted fw-medium">Average Price</p>
                  <h4 class="mb-0">€16.2</h4>
                </div>

                <div class="flex-shrink-0 align-self-center">
                  <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                            <span class="avatar-title rounded-circle bg-primary">
                                                                <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex flex-wrap">
            <h4 class="card-title mb-4">Budget Progress</h4>
            {% comment %}
            <div class="ms-auto">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="#">Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Year</a>
                </li>
              </ul>
            </div>
            {% endcomment %}


          </div>

          <div class="mb-4">
            <h5>Yesterday</h5>
            {% comment %}
              <label>Date Range</label> <button class="btn btn-primary float-end mb-2">Get Progress</button>

              <div class="input-daterange input-group" id="datepicker6" data-date-format="dd M, yyyy"
                   data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                <input type="text" class="form-control picker" id="start-date" name="start" placeholder="Start Date"/>
                <input type="text" class="form-control picker" id="end-date" name="end" placeholder="End Date"/>
              </div>
            {% endcomment %}

            <table>
              <thead>
              <tr>
                <th>Agent</th>
                <th>Budget</th>
                <th>Budget Progress</th>
                <th>Current Sales</th>
                <th>Gap</th>
                <th>Trend</th>
              </tr>
              </thead>
              <tbody>
              {% for data in progress %}
                <tr>
                  <td>{{ data.agent }}</td>
                  <td>{{ data.budget | floatformat:2 }}€</td>
                  <td>{{ data.budget_progress | floatformat:2 }}€</td>
                  <td>{{ data.current_sales | floatformat:2 }}€</td>
                  <td>{{ data.gap | floatformat:2 }}€</td>
                  <td>{{ data.trend | floatformat:2 }}%</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <h5>{{ current_date | date:"F" }}</h5>

            <table>
              <thead>
              <tr>
                <th>Agent</th>
                <th>Budget</th>
                <th>Budget Progress</th>
                <th>Current Sales</th>
                <th>Gap</th>
                <th>Trend</th>
              </tr>
              </thead>
              <tbody>
              {% for data in month_progress %}
                <tr>
                  <td>{{ data.agent }}</td>
                  <td>{{ data.budget | floatformat:2 }}€</td>
                  <td>{{ data.budget_progress | floatformat:2 }}€</td>
                  <td>{{ data.current_sales | floatformat:2 }}€</td>
                  <td>{{ data.gap | floatformat:2 }}€</td>
                  <td>{{ data.trend | floatformat:2 }}%</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>


          <h5>{{ current_date | date:"F, Y" }} | {{ a_year_ago.date | date:"F, Y" }}</h5>

            <table>
              <thead>
              <tr>
                <th>Agent</th>
                <th>Budget</th>
                <th>Budget Progress</th>
                <th>Current Sales</th>
                <th>Gap</th>
                <th>Trend</th>
              </tr>
              </thead>
              <tbody>
              {% for data in year_progress %}
                <tr>
                  <td>{{ data.agent }}</td>
                  <td>{{ data.budget | floatformat:2 }}€</td>
                  <td>{{ data.budget_progress | floatformat:2 }}€</td>
                  <td>{{ data.current_sales | floatformat:2 }}€</td>
                  <td>{{ data.gap | floatformat:2 }}€</td>
                  <td>{{ data.trend | floatformat:2 }}%</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  <script>
    //let startDateDom = document.getElementById('start-date')
    //let endDateDom = document.getElementById('end-date')


    $(function () {
      var $startDate = $('#start-date');
      var $endDate = $('#end-date');

      $startDate.datepicker({
        autoHide: true,
      });
      $endDate.datepicker({
        autoHide: true,
        startDate: $startDate.datepicker('getDate'),
      });

      $startDate.on('change', function () {
        $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
      });
    });

  </script>
{% endblock %}
